{% extends 'core/base.html' %}
{% block content %}
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <div class="mt-6 px-6 py-12 bg-slate-500 rounded-xl">
        <div class="grid grid-cols-5">
            <div class="bg-white p-3 m-3 rounded-2xl col-span-3">
                <img src="/media/hotels/{{hotel.location.name|lower}}/house{{hotel.index}}.png" class="rounded-xl w-full h-96">  
            </div>
            <div class="col-span-2">
                <div class="bg-white p-3 m-3 rounded-2xl h-52">
                    <img src="/media/hotels/{{hotel.location.name|lower}}/house{{hotel.index}}1.png" class="rounded-xl w-full h-full">  
                </div>
                <div class="grid grid-cols-2">
                    <div class="bg-white p-3 m-3 rounded-2xl h-44">
                        <img src="/media/hotels/{{hotel.location.name|lower}}/house{{hotel.index}}2.png" class="rounded-xl w-full h-full">  
                    </div>
                    <div class="bg-white p-3 m-3 rounded-2xl h-44">
                        <img src="/media/hotels/{{hotel.location.name|lower}}/house{{hotel.index}}3.png" class="rounded-xl w-full h-full">  
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 mt-5">
            <div class="mb-4 ml-9 p-3 text-white col-span-2">
                <div class="grid grid-cols-3">  
                    <div class="col-span-2"> 
                        <h1 class="h1 text-white text-4xl">{{hotel.name}}</h1>
                        <h2 class="h2"> {{hotel.host_description}} </h2>
                        <h3 class="h3">Rating : {{hotel.short_description}} Stars | Reviews : 0</h3>
                        <h3 class="h3">{{hotel.long_description}}</h3>
                        <h3 class="h3">$ {{hotel.price}}</h3>
                        <h2 class="h2 pt-6 pb-2 text-white text-2xl">What this place offers</h2>
                        <div class="grid grid-cols-2 text-m" >                    
                            <ul>
                                <li>- Public or shared beach access</li>
                                <li>- Kitchen</li>
                                <li>- Wifi</li>
                                <li>- Dedicated workspace</li>
                            </ul>  
                            <ul>
                                <li>- Free parking on premises</li>
                                <li>- 65" HDTV with Fire TV, Netflix</li>
                                <li>- Washing machine</li>
                                <li>- Security cameras on property</li>
                            </ul>
                        </div>
                    </div>
                
                    <div class="bg-white p-3 rounded-2xl w-full">
                        <form class="mx-1 mt-4 text-gray-500 " method="post" enctype="multipart/form-data" action="/book/{{hotel.id}}">
                            {% csrf_token %}
                            <div class="bg-gray-100 py-8 px-4 rounded-2xl">
                              <div class="">
                                <div class=" grid grid-cols-3 flex-fill">
                                  <label class="font-semibold text-gray-500 p-2 m-3 rounded-2xl" for="bio">Guest</label>
                                  <input type="number" name="guest" class="rounded-xl p-4 my-2 border-2 col-span-2" style="resize: none;" value=1 min="1" max="100" required>
                                </div>
                                <div class=" grid grid-cols-3 flex-fill">
                                  <label class="font-semibold text-gray-500 p-2 m-3 rounded-2xl" for="profile">Days</label>
                                  <input type="number" name="days" class="rounded-xl p-4 my-2 border-2 col-span-2" style="resize: none;" value=1 min="1" max="100" required>
                                </div>
                                <button type='submit' class="px-6 mx-48 py-3 my-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700"> Book </button>
                              </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="mt-6 px-6 py-12 bg-slate-500  rounded-xl">
        <div class="mb-4 ml-9 p-6 text-white">
            <h1 class="h1  text-white text-4xl">Related Hotels</h1>
        </div>
        <div class="grid grid-cols-5 gap-3 mt-10">
            {% for hotel in hotels %}
                <a href={% url "get_hotel_detials" hotel_name=hotel.name %} class="border-2 max-w-none rounded-2xl">
                    <div class="p-6 bg-white rounded-b-xl max-w-xs h-full rounded-2xl">
                        <img src="/media/hotels/{{hotel.location.name|lower}}/house{{hotel.index}}.png" class="rounded-xl h-64 w-72"> 
                        <h2 class="text-2xl truncate">{{hotel.name}}</h2>

                        <p class="text-gray-500">$ {{hotel.price}}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="bg-white p-3 mt-3 rounded-2xl w-full">
            <form class="mx-1 mt-4 text-gray-500 " method="post" enctype="multipart/form-data" action="/review/{{hotel.id}}">
                {% csrf_token %}
                <div class="bg-gray-100 py-8 px-4 rounded-2xl">
                  <div class="">
                    <div class=" grid grid-cols-3 flex-fill">
                      <label class="font-semibold text-gray-500 p-2 m-3 rounded-2xl" for="bio">Review</label>
                      <textarea type="text" name="text" class="rounded-xl p-4 my-2 border-2 col-span-2" style="resize: none;" required></textarea>
                    </div>
                    <button type='submit' class="px-6 mx-96 py-3 my-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700"> Add Review </button>
                  </div>
                </div>
            </form>
        </div>
    {% if reviews %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h1 class="h1 p-6 text-slate-500 text-4xl">Reviews</h1>
        {% for review in reviews %}
            <div class="p-6 m-3 rounded-2xl bg-slate-500">
                <h1 class="h1 text-white text-4xl">{{review.user.username}}</h1>
                  <ul class="text-gray-300 m-3">
                    <li>{{review.text}}</li>
                  </ul>
            </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
</div>
{% endblock %}